@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<div class="text-center">
    <h1 class="display-4">Welcome to MyMeetAppMVC</h1>
    <p>Click below to start a meeting.</p>
    <a class="btn btn-primary" asp-action="Meeting">Start Meet</a>
</div>
